<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
     
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-justify-content-center ion-align-items-center">
  <ion-card class="login-card">
    <ion-card-header>
      <!-- Reemplazar el texto "LOGIN" con la imagen -->
      <img src="assets/imgs/icon.png" alt="Imagen de login">
    </ion-card-header>
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" formControlName="email" required></ion-input>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password" required></ion-input>
        <ion-icon name="{{ showPassword ? 'eye' : 'eye-off' }}" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      </ion-item>
      <ion-button expand="full" shape="round" type="submit">Enviar</ion-button>
    </form>
    <div class="register-message">
      ¿Aún no tienes una cuenta? 
      <a routerLink="/registro">Regístrate</a>
    </div>
    <ion-button expand="full" shape="round" (click)="onClick()">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Login With Google
    </ion-button>
  </ion-card>
</ion-content>