<ion-header>
  <ion-toolbar>
    <ion-title>AGREGAR PUBLICACIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="publicacionForm" (submit)="submit()">
    <ion-item>
      <ion-label position="floating">Nombre de la Publicación</ion-label>
      <ion-input formControlName="nombre_publicacion" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Comentario</ion-label>
      <ion-input formControlName="comentario" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Archivo</ion-label>
      <input formControlName="archivo" type="file">
    </ion-item>

    <ion-button expand="full" type="submit">Guardar</ion-button>
  </form>
</ion-content>