ion-content {
    --background: #f2f2f2;
  }
  
  .login-card {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #007bff; /* Borde verde */
    background-color: #e6f0ff; /* Color celeste */
    text-align: center; /* Centrar el contenido */
  }
  
ion-item {
    --background: transparent;
    border-bottom: 1px solid #007bff; /* Color del borde inferior */
  }
  
  ion-item ion-icon {
    color: #007bff; /* Color del ícono en su estado normal */
  }
  
  ion-button {
    margin-top: 20px;
    --background: #007bff; /* Color del botón */
    --color: #fff; /* Color del texto del botón */
  }
  
  .register-message {
    text-align: center;
    margin-top: 10px;
  }
  
  .register-message a {
    color: #007bff;
    text-decoration: none;
  }
  
  /* Estilos para el ícono de Google */
  ion-icon[name="logo-google"] {
    color: #0e631c; /* Color del ícono de Google */
    margin-right: 10px;
  }
  
  /* Estilos para la imagen en el card-header */
  ion-card-header img {
    max-width: 100%;
    max-height: 150px;
    display: block;
    margin: 0 auto;
  }